/* Background Image */
.background-pattern {
    background-image: url(../images/footer_lodyas.png);
    background-repeat: repeat-x repeat-y;
}



/* Header */
.bottom-border {
    border-bottom: 3px solid black;
}

button {
    margin-right: 7px;
}

/* Main body */
.main-body{
    margin-left: 70px;
    margin-right: 70px;
}


/* General page styling */
body {
    color: white;
}